<div style="display: flex; margin: auto; width: 35%; margin-top: 2rem; margin-bottom: 1rem;">
  <div style="display: flex;">
    <span style="margin-top: -5px;"><i class="fas fa-user-circle fa-3x" style="background-color: white; color: #1C73BA;"></i></span>
    <div class="progress" style="width: 10rem; margin-top: 10px; height: 10px;">
      <div class="progress-bar progress-bar" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="50" aria-valuemax="100"></div>
    </div>
  </div>
  <div style="display: flex;">
    <span><img style="width: 45px; height: 45px; margin-top: -8px;" src="https://cdn1.iconfinder.com/data/icons/ui-5/502/file-512.png">
    </span>
    <div class="progress" style="width: 10rem; margin-top: 10px; height: 10px;">
      <div class="progress-bar progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="50" aria-valuemax="100"></div>
    </div>
      <span><img style="width: 45px; height: 45px; margin-top: -8px;" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/write-circle-blue-512.png">
    </span>
  </div>
</div>
<div class="pinfo_card my-5 p-5">

  <h3>Personal Detail's</h3>
  <hr>
  <div class="container">
    <form class="pinfo_form">


      <!-- PDETAILS IMAGE AND NAME -->
      <div class="row mt-3">
        
        
        <div class="col-lg-4">
          <div class="form-group">
            <label >Profile Picture*</label>
            <input type="file" class="form-control form-control-lg" >
          </div>
        </div>


        <div class="col-lg-8">
          <div class="form-group">
            <label >First name*</label>
            <input type="text" class="form-control form-control-lg" placeholder="First name">
          </div>
          
          <div class="form-group">
            <label >Last name*</label>
            <input type="text" class="form-control form-control-lg" placeholder="Last name">
          </div>
        </div>


      </div>

      <!-- Contact Details -->
      <div class="row mt-3">
        <div class="col-lg-6">

          <div class="form-group">
            <label >Email address*</label>
            <input type="text" class="form-control form-control-lg" placeholder="Email address">
          </div>

        </div>

        <div class="col-lg-6">

          <div class="form-group">
            <label >Phone number</label>
            <input type="text" class="form-control form-control-lg" placeholder="Phone number">
          </div>

        </div>
      </div>

      <!-- Address  -->
      <div class="row mt-3">
        <div class="form-group">
          <label >Address</label>
          <input type="text" class="form-control form-control-lg" placeholder="Address">
        </div>
      </div>



      <!-- CITY -->
      <div class="row mt-3">
        <div class="col-lg-6">

          <div class="form-group">
            <label >Zip code</label>
            <input type="text" class="form-control form-control-lg" placeholder="Zip code">
          </div>
      
          
        </div>
        
        
        <div class="col-lg-6">

          <div class="form-group">
            <label >City/Town</label>
            <input type="text" class="form-control form-control-lg" placeholder="City/Town">
          </div>


        </div>
      </div>
<br>
    

<div class="accordion" id="accordionExample">
      <div class="accordion-item">
        
        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
             
            
            
            
            <!--BIRTH INFO  -->

            <div class="row mt-3">
              <div class="col-lg-6">
                <div class="form-group">
                  <label >Date of birth</label>
                  <input type="date" class="form-control form-control-lg" placeholder="Date of birth">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label >Place of birth</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Place of birth">
                </div>
              </div>
            </div>


            <!-- license & Gender -->
            <div class="row mt-3">
              <div class="col-lg-6">
                <div class="form-group">
                  <label >Driving licence</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Driving licence">
                </div>
              </div>


              <div class="col-lg-6">
                <div class="form-group">
                  
                
                    <div>
                      <label for="exampleInputEmail1">Gender</label>
                    </div>
                    <select class="custom-select">
                      <option selected>Select</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                    </select>
                  
                </div>
              </div>
            </div>
        

            <!-- LIFESTYLE -->
            <div class="row mt-3">
              <div class="col-lg-6">
                <div class="form-group">
                  <label >Nationality</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Nationality">
                </div>
              </div>
              <div class="col-lg-6">

                <div class="form-group">
                  <label >Martial status</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Martial status">
                </div>
              </div>
            </div>

            <!-- Profiles -->
            <div class="row mt-3">
              <div class="col-lg-6">
                <div class="form-group">
                  <label >LinkedIn</label>
                  <input type="text" class="form-control form-control-lg" placeholder="LinkedIn">
                </div>
                
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label >Website</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Website">
                </div>
              </div>
            </div>

          </div>
        </div>

        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" >
            Additional Information
          </button>
        </h2>
      </div>
      
    </div>

      
    
    </form>
  </div>
  
  
  

