<div class="form-group">
  <label >First name*</label>
  <input type="text" class="form-control form-control-lg" placeholder="First name">
</div>

<div class="form-group">
  <label >Last name*</label>
  <input type="text" class="form-control form-control-lg" placeholder="Last name">
</div>

<div class="form-group">
  <label >Email address*</label>
  <input type="text" class="form-control form-control-lg" placeholder="Email address">
</div>

<div class="form-group">
  <label >Phone number</label>
  <input type="text" class="form-control form-control-lg" placeholder="Phone number">
</div>

<div class="form-group">
  <label >Address</label>
  <input type="text" class="form-control form-control-lg" placeholder="Address">
</div>

<div class="form-group">
  <label >Zip code</label>
  <input type="text" class="form-control form-control-lg" placeholder="Zip code">
</div>

<div class="form-group">
  <label >City/Town</label>
  <input type="text" class="form-control form-control-lg" placeholder="City/Town">
</div>

<div class="form-group">
  <label >Date of birth</label>
  <input type="date" class="form-control form-control-lg" placeholder="Date of birth">
</div>

<div class="form-group">
  <label >Place of birth</label>
  <input type="text" class="form-control form-control-lg" placeholder="Place of birth">
</div>

<div class="form-group">
  <label >Driving licence</label>
  <input type="text" class="form-control form-control-lg" placeholder="Driving licence">
</div>

<div>
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Gender</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Select</option>
    <option value="1">Male</option>
    <option value="2">Female</option>
  </select>
</div>

<div class="form-group">
  <label >Nationality</label>
  <input type="text" class="form-control form-control-lg" placeholder="Nationality">
</div>

<div class="form-group">
  <label >Martial status</label>
  <input type="text" class="form-control form-control-lg" placeholder="Martial status">
</div>

<div class="form-group">
  <label >LinkedIn</label>
  <input type="text" class="form-control form-control-lg" placeholder="LinkedIn">
</div>

<div class="form-group">
  <label >Website</label>
  <input type="text" class="form-control form-control-lg" placeholder="Website">
</div>




























































<!-- <div style = "text-align:left">
    <h1>
      Personal details
    </h1>
  </div>
  <form>
    <div class="row g-3">
      <div class="col-sm-7">
        <label for="formGroupExampleInput">First name*</label>
        <input type="text" class="form-control form-control-lg" placeholder="">
      </div>
      <div class="row g-1">
      <div class="col-sm-7">
        <label for="formGroupExampleInput">Last name*</label>
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
        <div class="col-sm-5">
          <label for="InputEmail">Email address*</label>
          <input type="text" class="form-control" placeholder="">
        </div>
  
            <div class="col-sm-5">
              <label for="InputPhone">Phone number</label>
              <input type="text" class="form-control" placeholder="">
            </div>
  
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="">
              </div>
  
              
                <div class="col-sm-5">
                <label for="InputZip" class="form-label">Zip code</label>
                <input type="text" class="form-control" placeholder="">
              </div>
  
              
              <div class="col-sm-6">
                <label for="InputCity" class="form-label">City/Town</label>
                <input type="text" class="form-control" placeholder="">
              </div>
  
              <div class="row g-3">
              <div class="col-sm-5">
                <label for="InputBirth">Place of birth</label>
                <input type="text" class="form-control" placeholder="">
              </div>
  
              <div class="row g-3">
              <div class="col-sm-6">
                <label for="InputLicence">Driving licence</label>
                <input type="text" class="form-control" placeholder="">
  
                <div class="row g-2">
                <div class="col-sm-12">
                    <label for="SelectGender" class="form-group">Gender</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>select</option>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  
  
  
  
  
                  <div class="row g-2">
                <div class="col">
                    <label for="InputNationality">Nationality</label>
                    <input type="text" class="form-control" placeholder="">
  
                    <div class="row g-3">
                    <div class="col">
                        <label for="InputMartial">Martial status</label>
                        <input type="text" class="form-control" placeholder="">
                        
                        <div class="col">
                            <label for="InputLinkedIn">LinkedIn</label>
                            <input type="text" class="form-control" placeholder="">
  
                            <div class="col">
                                <label for="InputWebsite">Website</label>
                                <input type="text" class="form-control" placeholder="">
  
              </div> -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  <router-outlet></router-outlet>