<div style="padding: 10px">
  <div>
    <img style="height: 45px; width: 55px; border-radius: 50%;" src="https://image.shutterstock.com/image-vector/user-icon-person-profile-avatar-260nw-601712213.jpg" alt=""><span><p [ngStyle]="(styling.sharedPrinTextStyle$ | async)" style="color: grey; font-weight: bold !important; font-size: x-large;position: relative;left: 5rem;bottom: 3rem;">Curriculum Vitae</p></span>
  </div>
  <hr />
  <div>
    <p [ngStyle]="(styling.sharedPrinTextStyle$ | async)">PERSONAL</p>
    <div style="margin-left: 80px;">
      <small *ngFor = "let emp of infoService.users">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;{{emp.fname}}</small><br>
      <small *ngFor = "let emp of infoService.users">Phone no&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{emp.phone_no}}</small><br>
      <small *ngFor = "let emp of infoService.users">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{emp.email}}</small><br>
      <small *ngFor = "let emp of infoService.users">Date of Birth&nbsp;&nbsp;: {{emp.dob}}</small><br>
      <small *ngFor = "let emp of infoService.users">Place of Birth&nbsp;: {{emp.pob}}</small><br>
      <small *ngFor = "let emp of infoService.users">Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{emp.gender}}</small><br>
      <small *ngFor = "let emp of infoService.users">Nationality&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{emp.nationality}}</small><br>
      <small *ngFor = "let emp of infoService.users">Marital status&nbsp;: {{emp.marital_status}}</small><br>
      <small *ngFor = "let emp of infoService.users">Driving license: {{emp.driving_license}}</small><br>
      <small *ngFor = "let emp of infoService.users">Website&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{emp.website}}</small><br>
      <small *ngFor = "let emp of infoService.users">LinkedIn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{emp.linkedin}}</small><br>


    </div>
  </div>
  <hr />
  <div>
    <p [ngStyle]="(styling.sharedPrinTextStyle$ | async)">RESUME OBJECTIVE</p>
    <div *ngFor="let emp of expService.experience">
      <p [innerHTML]="emp.res_des"></p>
    </div>
  </div>
  <hr />
  <div>
    <p [ngStyle]="(styling.sharedPrinTextStyle$ | async)">EDUCATION AND QUALIFICATIONS</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: x-small;">{{ emp.edu_startDate_month }}{{ emp.edu_startDate_year }} - {{ emp.edu_endDate_month }}{{ emp.edu_endDate_year }}</span>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; font-style: italic; font-weight: 200;">
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.edu_degree }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.edu_school }}, {{ emp.edu_city }}</span>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div>
    <p [ngStyle]="(styling.sharedPrinTextStyle$ | async)">WORK EXPERIENCE</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: x-small;">{{ emp.work_startDate_month }}{{ emp.work_startDate_year }} - {{ emp.work_endDate_month }}{{ emp.work_endDate_year }}</span>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; font-style: italic; font-weight: 200;">
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.work_jobtitle }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.work_employer }}, {{ emp.work_city }}</span>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div>
    <p [ngStyle]="(styling.sharedPrinTextStyle$ | async)">INTERESTS</p>
    <div *ngFor="let emp of expService.experience">
      <span>{{ emp.hobby }}</span>
    </div>
  </div>
  <hr />
  <div>
    <p [ngStyle]="(styling.sharedPrinTextStyle$ | async)">REFERENCES</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: x-small;">{{ emp.ref_companyName }}</span>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; font-style: italic; font-weight: 200;">
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.ref_contactPerson }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.ref_phoneNo }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.ref_email }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
