<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
  </style>
<div style="padding: 10px">
  <div>
    <p [ngStyle]="(styling.sharedPrinTextStyle$ | async)" style="color: grey; font-weight: bold !important; font-size: x-large;">Curriculum Vitae</p>
  </div>
  <hr />
  <div>
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">PERSONAL</p>
    <div style="margin-left: 80px;">
      <div *ngIf="newData_fname">
        <small >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.fname}}&nbsp;{{newData.lname}}</small><br>
        </div>
        <div *ngIf="newData_phone_no">
        <small >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone no&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.phone_no}}</small><br>
        </div>
        <div *ngIf="newData_email">
        <small >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.email}}</small><br>
        </div>
        <div *ngIf="newData_dob">
        <small >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date of Birth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.dob}}</small><br>
        </div>
        <div *ngIf="newData_pob">
          <small >&nbsp;&nbsp;&nbsp;&nbsp;Place of Birth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.pob}}</small><br>
        </div>
        <div>
          <small *ngIf="newData_gender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.gender}}</small><br>
        </div>
        <div>
          <small *ngIf="newData_nationality">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nationality&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.nationality}}</small><br>
        </div>
        <div>
          <small *ngIf="newData_marital_status">&nbsp;&nbsp;&nbsp;Marital status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.marital_status}}</small><br>
        </div>
        <div>
          <small *ngIf="newData_driving_license">&nbsp;&nbsp;Driving license&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.driving_license}}</small><br>
        </div>
        <div>
          <small *ngIf="newData_website">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.website}}</small><br>
        </div>
        <div>
          <small *ngIf="newData_linkedin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LinkedIn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.linkedin}}</small><br>
        </div>
    </div>
    <hr />
  </div>
  <div *ngIf="expData_res_des">
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">RESUME OBJECTIVE</p>
    <div>
      <p [innerHTML]="expData.res_des"></p>
    </div>
    <hr />
  </div>
  <div *ngIf="expData_edu_degree">
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">EDUCATION AND QUALIFICATIONS</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: x-small;">{{ emp.edu_startDate_month }}{{ emp.edu_startDate_year }} - {{ emp.edu_endDate_month }}{{ emp.edu_endDate_year }}</span>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; font-style: italic; font-weight: 200;">
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.edu_degree }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.edu_school }}, {{ emp.edu_city }}</span>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div *ngIf="expData_work_jobtitle">
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">WORK EXPERIENCE</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: x-small;">{{ emp.work_startDate_month }}{{ emp.work_startDate_year }} - {{ emp.work_endDate_month }}{{ emp.work_endDate_year }}</span>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; font-style: italic; font-weight: 200;">
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.work_jobtitle }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.work_employer }}, {{ emp.work_city }}</span>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div *ngIf="expData_skill">
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">SKILLS</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: x-small;">{{ emp.skill }}</span>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div *ngIf="expData_course_des">
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">COURSE DESCRIPTION</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <p [innerHTML]="expData.course_des"></p>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div *ngIf="expData_achiev_des">
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">ACHIEVEMENTS</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <p [innerHTML]="expData.achiev_des"></p>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div *ngIf="expData_publi_des">
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">PUBLICATIONS</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <p [innerHTML]="expData.publi_des"></p>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div *ngIf="expData_hobby">
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">INTERESTS</p>
    <div>
      <span>{{ expData.hobby }}</span>
    </div>
    <hr />
  </div>
  <div *ngIf="expData_ref_companyName">
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">REFERENCES</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: x-small;">{{ emp.ref_companyName }}</span>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; font-style: italic; font-weight: 200;">
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.ref_contactPerson }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.ref_phoneNo }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.ref_email }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
