.form-control:focus {
  border-color: lightblue;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(189, 189, 243);
}
.tipsButton:hover {
  color: yellow !important;
  text-decoration: none !important;
}
.saveButton:hover {
  color: lightblue !important;
  text-decoration: none !important;
}
.deleteButton:hover {
  color: #ffcccb !important;
  text-decoration: none !important;
}
.button--move-up:hover, .button--move-down:hover {
  cursor: pointer;
  color: #4287f5
}
.button--settings {
  cursor: pointer;

  /* transform: rotate(180deg); */
}

.sideSettingsButton {
  transition: transform .7s ease-in;
  margin-left: 5px;
  /* width: 10px;
  height: 10px;
  background-color: red; */
}
.sideSettingsButton:hover {
  transform: rotate(360deg);
}