<p>experience works!</p>
<div class="card" style="width: 40rem">
  <div class="card-body">
    <h5 class="card-title">Resume Objective</h5>
    <p class="card-text">Description</p>
    <div style="display: flex; justify-content: space-between">
      <button type="button" class="btn btn-outline-secondary btn-sm">
        Tips
      </button>
      <button type="button" class="btn btn-outline-secondary btn-sm">
        Save
      </button>
    </div>
  </div>
</div>
<div class="card" style="width: 40rem">
    <div class="card-body">
      <h5 class="card-title">Work Experience</h5>
      <div>
          <div class="row1" style="display: flex;justify-content: space-between">
            <div class="form-group">
                <label for="exampleInputEmail1">Job Title</label>
                <input type="text" class="form-control" id="jobTitle"  placeholder="eg.Sales Manager" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">City/Town</label>
                <input type="text" class="form-control" id="place"  placeholder="eg. Chennai" />
            </div>
          </div>
          <div class="row2">
            <div class="form-group">
                <label for="exampleInputEmail1">Employer</label>
                <input type="text" class="form-control" id="jobTitle"  placeholder="eg. PwC" />
            </div>
          </div>
          <div class="row3">
            <label for="exampleInputEmail1">Start Date</label> 
            <div class="dropdown">
                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Auguest
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Dont Show</a></li>
                  <li><a class="dropdown-item" href="#">Show year only</a></li>
                  <li><a class="dropdown-item" href="#">January</a></li>
                  <li><a class="dropdown-item" href="#">February</a></li>
                  <li><a class="dropdown-item" href="#">March</a></li>
                  <li><a class="dropdown-item" href="#">April</a></li>
                  <li><a class="dropdown-item" href="#">May</a></li>
                  <li><a class="dropdown-item" href="#">June</a></li>
                  <li><a class="dropdown-item" href="#">July</a></li>
                  <li><a class="dropdown-item" href="#">Auguest</a></li>
                  <li><a class="dropdown-item" href="#">September</a></li>
                  <li><a class="dropdown-item" href="#">October</a></li>
                  <li><a class="dropdown-item" href="#">November</a></li>
                  <li><a class="dropdown-item" href="#">December</a></li>
                </ul>
              </div>
          </div>
        </div>
      <div style="display: flex; justify-content: space-between">
        <button type="button" class="btn btn-outline-secondary btn-sm">
          Tips
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm">
          Save
        </button>
      </div>
    </div>
  </div>