<div class="otago-main">
  <div style="display: flex; flex-direction: row">
    <div style="display: flex; flex: 1; flex-direction: column">
      <h3>{{newData.fname}}&nbsp;{{newData.lname}}</h3>
      <div class="info" style="column-count: 3;">
        <div *ngIf="newData_address">
          <small style="font-size: x-small;" ><i class="fas fa-home"></i>&nbsp;{{newData.address}}</small>
        </div>
        <div *ngIf="newData_phone_no">
          <small><p><i class="fas fa-phone"></i>&nbsp;{{newData.phone_no}}</p></small>
        </div>
        <div *ngIf="newData_email">
          <small><p><i class="fas fa-envelope"></i>&nbsp;{{newData.email}}</p></small>
        </div>
      </div>
    </div>
    <div
      [ngStyle]="styling.sharedOtagoStyle$ | async"
      style="
        border: 1px solid none;
        margin-bottom: 2rem;
        padding: 5px;
        background-color: teal;
        color: white;
      "
    >
      <h3>CV</h3>
    </div>
  </div>
  <hr>
  <div>
    <div style="column-count: 4;">
      <div *ngIf="newData_dob">
        <span>Date of birth: <div *ngFor = "let emp of infoService.users"> <small>{{emp.dob}}</small> </div></span>
      </div>
      <div *ngIf="newData_nationality">
        <span>Nationality: <div *ngFor = "let emp of infoService.users"> <small>{{emp.nationality}}</small> </div></span>
      </div>
      <div *ngIf="newData_gender">
        <span>Gender: <div *ngFor = "let emp of infoService.users"> <small>{{emp.gender}}</small> </div></span>
      </div>
      <div *ngIf="newData_website">
        <span>Website: <div *ngFor = "let emp of infoService.users"> <small>{{emp.website}}</small> </div></span>
      </div>
    </div>
    <div style="column-count: 4;">
      <div *ngIf="newData_pob">
        <span>Place of birth: <div *ngFor = "let emp of infoService.users"> <small>{{emp.pob}}</small> </div></span>
      </div>
      <div *ngIf="newData_marital_status">
        <span>Marital status: <div *ngFor = "let emp of infoService.users"> <small>{{emp.marital_status}}</small> </div></span>
      </div>
      <div *ngIf="newData_driving_license">
        <span>Driving license: <div *ngFor = "let emp of infoService.users"> <small>{{emp.driving_license}}</small> </div></span>
      </div>
      <div *ngIf="newData_linkedin">
        <span>LinkedIn: <div *ngFor = "let emp of infoService.users"> <small>{{emp.linkedin}}</small> </div></span>
      </div>
    </div>
  </div>
  <hr />
  <div *ngFor="let emp of expService.experience">
    <p [innerHTML]="emp.res_des"></p>
    <hr />
  </div>
  <!-- edu -->
  <div *ngIf="expData_edu_degree">
    <p>
      EDUCATION AND QUALIFICATIONS
    </p>
    <div
      style="
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      "
    >
      <div style="width: 200px">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: xx-small"
            >{{ emp.edu_startDate_month }}{{ emp.edu_startDate_year }} -
            {{ emp.edu_endDate_month }}{{ emp.edu_endDate_year }}</span
          >
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 400px;
          font-size: x-small;
        "
      >
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.edu_degree }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.edu_school }}, {{ emp.edu_city }}</span>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <!-- work -->
  <div *ngIf="expData_work_jobtitle">
    <p>WORK EXPERIENCE</p>
    <div
      style="
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      "
    >
      <div style="width: 200px">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: xx-small"
            >{{ emp.work_startDate_month }}{{ emp.work_startDate_year }} -
            {{ emp.work_endDate_month }}{{ emp.work_endDate_year }}</span
          >
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 400px;
          font-size: x-small;
        "
      >
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.work_jobtitle }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.work_employer }}, {{ emp.work_city }}</span>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <!-- interests -->
  <div *ngIf="expData_hobby">
    <p>INTERESTS</p>
    <div *ngFor="let emp of expService.experience" style="font-size: x-small">
      <ul>
        <li>{{ emp.hobby }}</li>
      </ul>
    </div>
    <hr />
  </div>
  <!-- skills -->
  <div *ngIf="expData_skill">
    <p>SKILLS</p>
    <div *ngFor="let emp of expService.experience" style="font-size: x-small">
        <div style="display: flex;">
            <small style="width: 10%;">{{ emp.skill }}</small>
            <small>{{ emp.skill_startDate }}</small>
        </div>   
    </div>
    <hr />
  </div>
  <!-- lang -->
  <div *ngIf="expData_lang">
    <p>LANGUAGUES</p>
    <div *ngFor="let emp of expService.experience" style="font-size: x-small">
        <div style="display: flex;">
            <small style="width: 10%;">{{ emp.lang }}</small>
            <small>{{ emp.lang_startDate }}</small>
        </div>   
    </div>
    <hr />
  </div>
  <!-- courses -->
  <div *ngIf="expData_course_des">
    <p>COURSES</p>
    <div
      style="
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      "
    >
      <div style="width: 200px">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: xx-small"
            >{{ emp.course_startDate_month }}{{ emp.course_startDate_year }} -
            {{ emp.course_endDate_month }}{{ emp.course_endDate_year }}</span
          >
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 400px;
          font-size: x-small;
        "
      >
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.course_title }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.course_institution }}</span>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <!-- achievements -->
  <div *ngIf="expData_achiev_des">
    <p>ACHIEVEMENTS</p>
    <div *ngFor="let emp of expService.experience" style="font-size: x-small">
        <div style="display: flex;">
          <p [innerHTML]="emp.achiev_des"></p>
        </div>   
    </div>
    <hr />
  </div>
  <!-- publications -->
  <div *ngIf="expData_publi_des">
    <p>PUBLICATIONS</p>
    <div *ngFor="let emp of expService.experience" style="font-size: x-small">
        <div style="display: flex;">
          <p [innerHTML]="emp.publi_des"></p>
        </div>   
    </div>
    <hr />
  </div>
  <!-- reference -->
  <div *ngIf="expData_ref_companyName">
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: #4c4c4c;" [ngStyle]="(styling.sharedPrinTextStyle$ | async)">REFERENCES</p>
    <div style="display: flex; margin-left: 20px;">
      <div style="width: 200px;">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: x-small;">{{ emp.ref_companyName }}</span>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; font-style: italic; font-weight: 200;">
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.ref_contactPerson }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.ref_phoneNo }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.ref_email }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
