<div class="otago-main">
  <div style="display: flex; flex-direction: row">
    <div style="display: flex; flex: 1; flex-direction: column">
      <div style="column-count: 2;">
      <img style="height: 45px; width: 55px; border-radius: 50%;" src="https://image.shutterstock.com/image-vector/user-icon-person-profile-avatar-260nw-601712213.jpg" alt=""> 
      <h3 style="position: relative; right: 9rem; top: 0.5rem;">Name</h3>
      </div>
      <br>
      <div class="info" style="column-count: 3;">
        <small ><p><i class="fas fa-home"></i> Address</p></small>
        <small ><p><i class="fas fa-phone"></i> 7894561231</p></small>
        <small ><p><i class="fas fa-envelope"></i> main@gmail.com</p></small>
      </div>
    </div>
    <div
      [ngStyle]="styling.sharedOtagoStyle$ | async"
      style="
        border: 1px solid none;
        margin-bottom: 2rem;
        padding: 5px;
        background-color: teal;
        color: white;
      "
    >
      <h3>CV</h3>
    </div>
  </div>
  <hr>
  <div>
    <div style="column-count: 4;">
      <span>Date of birth: <div *ngFor = "let emp of infoService.users"> <p>{{emp.dob}}</p> </div></span>
      <span>Nationality: <div *ngFor = "let emp of infoService.users"> <p>{{emp.nationality}}</p> </div></span>
      <span>Gender: <div *ngFor = "let emp of infoService.users"> <p>{{emp.gender}}</p> </div></span>
      <span>Website: <div *ngFor = "let emp of infoService.users"> <p>{{emp.website}}</p> </div></span>
    </div>
    <div style="column-count: 4;">
      <span>Place of birth: <div *ngFor = "let emp of infoService.users"> <p>{{emp.pob}}</p> </div></span>
      <span>Marital status: <div *ngFor = "let emp of infoService.users"> <p>{{emp.marital_status}}</p> </div></span>
      <span>Driving license: <div *ngFor = "let emp of infoService.users"> <p>{{emp.driving_license}}</p> </div></span>
      <span>LinkedIn: <div *ngFor = "let emp of infoService.users"> <p>{{emp.linkedin}}</p> </div></span>
    </div>
  </div>
  <hr />
  <div *ngFor="let emp of expService.experience">
    <p [innerHTML]="emp.res_des"></p>
  </div>
  <hr />
  <!-- edu -->
  <div>
    <p>
      EDUCATION AND QUALIFICATIONS
    </p>
    <div
      style="
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      "
    >
      <div style="width: 200px">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: xx-small"
            >{{ emp.edu_startDate_month }}{{ emp.edu_startDate_year }} -
            {{ emp.edu_endDate_month }}{{ emp.edu_endDate_year }}</span
          >
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 400px;
          font-size: x-small;
        "
      >
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.edu_degree }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.edu_school }}, {{ emp.edu_city }}</span>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <!-- work -->
  <div>
    <p>WORK EXPERIENCE</p>
    <div
      style="
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      "
    >
      <div style="width: 200px">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: xx-small"
            >{{ emp.work_startDate_month }}{{ emp.work_startDate_year }} -
            {{ emp.work_endDate_month }}{{ emp.work_endDate_year }}</span
          >
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 400px;
          font-size: x-small;
        "
      >
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.work_jobtitle }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.work_employer }}, {{ emp.work_city }}</span>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <!-- interests -->
  <div>
    <p>INTERESTS</p>
    <div *ngFor="let emp of expService.experience" style="font-size: x-small">
      <ul>
        <li>{{ emp.hobby }}</li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- skills -->
  <div>
    <p>SKILLS</p>
    <div *ngFor="let emp of expService.experience" style="font-size: x-small">
        <div style="display: flex;">
            <small style="width: 10%;">{{ emp.skill }}</small>
            <small>{{ emp.skill_startDate }}</small>
        </div>   
    </div>
  </div>
  <hr />
  <!-- lang -->
  <div>
    <p>LANGUAGUES</p>
    <div *ngFor="let emp of expService.experience" style="font-size: x-small">
        <div style="display: flex;">
            <small style="width: 10%;">{{ emp.lang }}</small>
            <small>{{ emp.lang_startDate }}</small>
        </div>   
    </div>
  </div>
  <hr />
  <!-- courses -->
  <div>
    <p>COURSES</p>
    <div
      style="
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      "
    >
      <div style="width: 200px">
        <div *ngFor="let emp of expService.experience">
          <span style="font-size: xx-small"
            >{{ emp.course_startDate_month }}{{ emp.course_startDate_year }} -
            {{ emp.course_endDate_month }}{{ emp.course_endDate_year }}</span
          >
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 400px;
          font-size: x-small;
        "
      >
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.course_title }}</span>
        </div>
        <div *ngFor="let emp of expService.experience">
          <span>{{ emp.course_institution }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
