<div class="akuland-main" id="content" #content>
  <div class="ackuland-header">
    <div class="ackuland-text">
        <div></div>
        <div *ngFor = "let emp of infoService.users">
          <span><p>{{emp.fname}}</p></span> <img style="height: 45px; width: 55px; position: absolute; right: 26rem;bottom: 0.1rem;" src="https://image.shutterstock.com/image-vector/user-icon-person-profile-avatar-260nw-601712213.jpg" alt="">
        </div>
    </div>
  </div>
  <div style="display: flex">
    <div
      [ngStyle]="styling.sharedStyle$ | async"
      style="background-color: lightgray; width: 180px;"
    >
      <div style="padding: 10px;">
        <p style="margin-bottom: -5px; font-weight: 600;">PERSONAL</p>
        <small>name <div *ngFor = "let emp of infoService.users"><small style="font-size: x-small;">{{emp.fname}}&nbsp;{{emp.lname}}</small></div></small>
        <small>Address <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.address}}</small> </div></small>
        <small>Phone no <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.phone_no}}</small> </div></small>
        <small>email <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.email}}</small> </div></small>
        <small>Date of birth <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.dob}}</small> </div></small>
        <small>Place of birth <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.pob}}</small> </div></small>
        <small>Gender <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.gender}}</small> </div></small>
        <small>Nationality <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.nationality}}</small> </div></small>
        <small>Marital status <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.marital_status}}</small> </div></small>
        <small>Driving license <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.driving_license}}</small> </div></small>
        <small>Website <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.website}}</small> </div></small>
        <small>LinkedIn <div *ngFor = "let emp of infoService.users"> <small style="font-size: x-small;">{{emp.linkedin}}</small> </div></small>
      </div>
    </div>
    <div style="background-color: #fbfbfb">
      <div style="margin-top: 1rem; padding: 10px">
        <div *ngFor="let emp of expService.experience">
            <p [innerHTML]="emp.res_des"></p>
        </div>
        <!-- edu -->
        <div style="display: flex; flex-direction: column">
            <span>Education and Qualifications</span>
            <small>
              <div *ngFor="let emp of expService.experience">
                <p>{{ emp.edu_degree }}</p>
              </div></small
            >
            <small style="margin-top: -12px; font-size: x-small;" [ngStyle]="styling.sharedEdinTextStyle$ | async">
              <div *ngFor="let emp of expService.experience" style="display: flex; justify-content: space-between;">
                <p>{{ emp.edu_school }}, {{ emp.edu_city }}</p>
                <p style="font-size: xx-small; margin-left: 12px;"><small><span>{{ emp.edu_startDate_month }}{{ emp.edu_startDate_year }}</span> - <span>{{ emp.edu_endDate_month }}{{ emp.edu_endDate_year }}</span></small></p>
              </div>
            </small>
        </div>
        <!-- work -->
        <div style="display: flex; flex-direction: column;">
          <span>WORK EXPERIENCE</span>
          <small>
            <div *ngFor="let emp of expService.experience">
              <p>{{ emp.work_jobtitle }}</p>
            </div></small
          >
          <small style="margin-top: -12px; font-size: x-small;" [ngStyle]="styling.sharedEdinTextStyle$ | async">
            <div *ngFor="let emp of expService.experience" style="display: flex; justify-content: space-between;">
              <p>{{ emp.work_employer }}, {{ emp.work_city }}</p>
              <p style="font-size: xx-small; margin-left: 12px;"><small><span>{{ emp.work_startDate_month }}{{ emp.work_startDate_year }}</span> - <span>{{ emp.work_endDate_month }}{{ emp.work_endDate_year }}</span></small></p>
            </div>
          </small>
          <br />
        </div>
        <!-- ref -->
        <div style="display: flex; flex-direction: column; margin-top: -20px;">
          <span>References</span>
          <small>
            <div *ngFor="let emp of expService.experience" style="display: flex; flex-direction: column;">
              <div style="display: flex; justify-content: space-between;">
                <span >{{ emp.ref_contactPerson }}</span><span style="font-size: x-small;">{{ emp.ref_companyName }}</span>
              </div>
              <span [ngStyle]="styling.sharedEdinTextStyle$ | async" style="font-size: x-small;">{{ emp.ref_phoneNo }}</span>
              <span [ngStyle]="styling.sharedEdinTextStyle$ | async" style="font-size: x-small;">{{ emp.ref_email }}</span>
            </div>
          </small>
          <br />
        </div>
        <!-- skills -->
        <div style="display: flex; flex-direction: column; margin-top: -10px;">
          <span>Skills</span>
          <small>
            <div *ngFor="let emp of expService.experience">
                <small [ngStyle]="styling.sharedEdinTextStyle$ | async">{{ emp.skill }}</small>
            </div>
          </small>
  
        </div>
        <!-- courses -->
        <div style="display: flex; flex-direction: column;margin-top: 10px;">
          <span>Courses</span>
          <small>
            <div *ngFor="let emp of expService.experience" style="display: flex; flex-direction: column;">
              <div style="display: flex; justify-content: space-between;">
                <span >{{ emp.course_title }}</span><span style="font-size: x-small;">{{ emp.ref_companyName }}</span>
              </div>
              <span [ngStyle]="styling.sharedEdinTextStyle$ | async" style="font-size: x-small;">{{ emp.course_startDate_month }}{{ emp.course_startDate_year }} - {{ emp.course_endDate_month }}{{ emp.course_endDate_year }}</span>
              <span [ngStyle]="styling.sharedEdinTextStyle$ | async" style="font-size: x-small;">{{ emp.ref_email }}</span>
            </div>
          </small>
          <br />
        </div>
        <!-- achievements -->
        <div style="display: flex; flex-direction: column;margin-top: -10px;">
          <span>Achievements</span>
          <small>
            <div *ngFor="let emp of expService.experience" style="display: flex; flex-direction: column;">
              <div style="display: flex; justify-content: space-between;">
                <p [innerHTML]="emp.achiev_des"></p>
              </div>
            </div>
          </small>
          <br />
        </div>
        <!-- publications -->
        <div style="display: flex; flex-direction: column;margin-top: -40px;">
          <span>Publications</span>
          <small>
            <div *ngFor="let emp of expService.experience" style="display: flex; flex-direction: column;">
              <div style="display: flex; justify-content: space-between;">
                <p [innerHTML]="emp.publi_des"></p>
              </div>
            </div>
          </small>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
