<div class="akuland-main" id="content" #content>
  <div class="ackuland-header">
    <div class="ackuland-text">
        <div></div>
        <div *ngFor = "let emp of infoService.users" style="column-count: 2; position: relative; right: 6rem;">
          <img style="height: 35px; width: 35px; " [src]="emp.photo" alt="no img found"><span><p>{{emp.fname}} </p></span> 
        </div>
    </div>
  </div>
  <div style="display: flex">
    <div
      [ngStyle]="styling.sharedStyle$ | async"
      style="background-color: lightgray; width: 180px;"
    >
      <div>
        <p>PERSONAL</p>
        <span>name : <div *ngFor = "let emp of infoService.users"> <p>{{emp.fname}}</p> </div></span>
        <span>Address: <div *ngFor = "let emp of infoService.users"> <p>{{emp.address}}</p> </div></span>
        <span>Phone no: <div *ngFor = "let emp of infoService.users"> <p>{{emp.phone_no}}</p> </div></span>
        <span>email: <div *ngFor = "let emp of infoService.users"> <p>{{emp.email}}</p> </div></span>
        <span>Date of birth: <div *ngFor = "let emp of infoService.users"> <p>{{emp.dob}}</p> </div></span>
        <span>Place of birth: <div *ngFor = "let emp of infoService.users"> <p>{{emp.pob}}</p> </div></span>
        <span>Gender: <div *ngFor = "let emp of infoService.users"> <p>{{emp.gender}}</p> </div></span>
        <span>Nationality: <div *ngFor = "let emp of infoService.users"> <p>{{emp.nationality}}</p> </div></span>
        <span>Marital status: <div *ngFor = "let emp of infoService.users"> <p>{{emp.marital_status}}</p> </div></span>
        <span>Driving license: <div *ngFor = "let emp of infoService.users"> <p>{{emp.driving_license}}</p> </div></span>
        <span>Website: <div *ngFor = "let emp of infoService.users"> <p>{{emp.website}}</p> </div></span>
        <span>LinkedIn: <div *ngFor = "let emp of infoService.users"> <p>{{emp.linkedin}}</p> </div></span>






        <p>INTERESTS</p>
        <span>cooking</span><br /><br />
        <p>LANGUAGUES</p>
        <span>english</span><br /><br />
      </div>
    </div>
    <div style="background-color: #fbfbfb">
      <div style="margin-top: 1rem; padding: 10px">
        <div *ngFor="let emp of expService.experience">
            <p [innerHTML]="emp.res_des"></p>
          </div>
        <!-- edu -->
        <div style="display: flex; flex-direction: column">
            <span>Education and Qualifications</span>
            <small>
              <div *ngFor="let emp of expService.experience">
                <p>{{ emp.edu_degree }}</p>
              </div></small
            >
            <small style="margin-top: -12px; font-size: x-small;" [ngStyle]="styling.sharedEdinTextStyle$ | async">
              <div *ngFor="let emp of expService.experience" style="display: flex; justify-content: space-between;">
                <p>{{ emp.edu_school }}, {{ emp.edu_city }}</p>
                <p style="font-size: xx-small; margin-left: 12px;"><small><span>{{ emp.edu_startDate_month }}{{ emp.edu_startDate_year }}</span> - <span>{{ emp.edu_endDate_month }}{{ emp.edu_endDate_year }}</span></small></p>
              </div>
            </small>
            <br />
        </div>
        <!-- work -->
        <div style="display: flex; flex-direction: column; margin-top: -20px;">
          <span>WORK EXPERIENCE</span>
          <small>
            <div *ngFor="let emp of expService.experience">
              <p>{{ emp.work_jobtitle }}</p>
            </div></small
          >
          <small style="margin-top: -12px; font-size: x-small;" [ngStyle]="styling.sharedEdinTextStyle$ | async">
            <div *ngFor="let emp of expService.experience" style="display: flex; justify-content: space-between;">
              <p>{{ emp.work_employer }}, {{ emp.work_city }}</p>
              <p style="font-size: xx-small; margin-left: 12px;"><small><span>{{ emp.work_startDate_month }}{{ emp.work_startDate_year }}</span> - <span>{{ emp.work_endDate_month }}{{ emp.work_endDate_year }}</span></small></p>
            </div>
          </small>
          <br />
        </div>
        <!-- ref -->
        <div style="display: flex; flex-direction: column; margin-top: -20px;">
          <span>References</span>
          <small>
            <div *ngFor="let emp of expService.experience" style="display: flex; flex-direction: column;">
              <div style="display: flex; justify-content: space-between;">
                <span >{{ emp.ref_contactPerson }}</span><span style="font-size: x-small;">{{ emp.ref_companyName }}</span>
              </div>
              <span [ngStyle]="styling.sharedEdinTextStyle$ | async" style="font-size: x-small;">{{ emp.ref_phoneNo }}</span>
              <span [ngStyle]="styling.sharedEdinTextStyle$ | async" style="font-size: x-small;">{{ emp.ref_email }}</span>
            </div>
          </small>
          <br />
        </div>
        <!-- skills -->
        <div style="display: flex; flex-direction: column; margin-top: -10px;">
          <span>Skills</span>
          <small>
            <div *ngFor="let emp of expService.experience">
                <small [ngStyle]="styling.sharedEdinTextStyle$ | async">{{ emp.skill }}</small>
            </div>
          </small>
  
      </div>
        
      
      </div>
    </div>
  </div>
</div>
