.akuland-main {
    max-width: 800px;
    padding: 1px;
}
.ackuland-header {
    width: 100%;
    padding: 10px;
}
.ackuland-text {
    background-color: white;
    border: 2px solid black;
    position: relative;
    text-align: center;
    padding: 6px;
}