<div class="body">
  <div style="column-count: 2;" class="my-4">
    <img *ngFor = "let emp of infoService.users" style="height: 45px; width: 55px; border-radius: 50%;" [src]="emp.photo" alt=""> 
    <h1  *ngFor = "let emp of infoService.users"[ngStyle]="styling.sharedBerkStyle$ | async" style="position: relative; left: 5rem; bottom: 3rem; font-size: 30px">{{emp.fname}}&nbsp;{{emp.lname}}</h1>
  </div>
 
  <h6 [ngStyle]="styling.sharedBerkStyle$ | async">
    <i class="fas fa-user-friends"></i> Personal
  </h6>
  <div>
    <div *ngIf="newData_fname">
      <small >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.fname}}&nbsp;{{newData.lname}}</small><br>
      </div>
      <div *ngIf="newData_phone_no">
      <small >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone no&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.phone_no}}</small><br>
      </div>
      <div *ngIf="newData_email">
      <small >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.email}}</small><br>
      </div>
      <div *ngIf="newData_dob">
      <small >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date of Birth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.dob}}</small><br>
      </div>
      <div *ngIf="newData_pob">
        <small >&nbsp;&nbsp;&nbsp;&nbsp;Place of Birth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.pob}}</small><br>
      </div>
      <div>
        <small *ngIf="newData_gender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.gender}}</small><br>
      </div>
      <div>
        <small *ngIf="newData_nationality">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nationality&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.nationality}}</small><br>
      </div>
      <div>
        <small *ngIf="newData_marital_status">&nbsp;&nbsp;&nbsp;Marital status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.marital_status}}</small><br>
      </div>
      <div>
        <small *ngIf="newData_driving_license">&nbsp;&nbsp;Driving license&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.driving_license}}</small><br>
      </div>
      <div>
        <small *ngIf="newData_website">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.website}}</small><br>
      </div>
      <div style="padding-bottom: 15px;">
        <small *ngIf="newData_linkedin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LinkedIn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{newData.linkedin}}</small><br>
      </div>
  </div>




  <!-- <span>Address: <div *ngFor = "let emp of infoService.users"> <p></p> </div></span> -->
  <!-- <span>Phone no: <div *ngFor = "let emp of infoService.users"> <p>{{emp.phone_no}}</p> </div></span>
  <span>email: <div *ngFor = "let emp of infoService.users"> <p>{{emp.email}}</p> </div></span>
  <span>Date of birth: <div *ngFor = "let emp of infoService.users"> <p>{{emp.dob}}</p> </div></span>
  <span>Place of birth: <div *ngFor = "let emp of infoService.users"> <p>{{emp.pob}}</p> </div></span>
  <span>Gender: <div *ngFor = "let emp of infoService.users"> <p>{{emp.gender}}</p> </div></span>
  <span>Nationality: <div *ngFor = "let emp of infoService.users"> <p>{{emp.nationality}}</p> </div></span>
  <span>Marital status: <div *ngFor = "let emp of infoService.users"> <p>{{emp.marital_status}}</p> </div></span>
  <span>Driving license: <div *ngFor = "let emp of infoService.users"> <p>{{emp.driving_license}}</p> </div></span>
  <span>Website: <div *ngFor = "let emp of infoService.users"> <p>{{emp.website}}</p> </div></span>
  <span>LinkedIn: <div *ngFor = "let emp of infoService.users"> <p>{{emp.linkedin}}</p> </div></span> -->
 <div style="margin-top: 10px;" *ngIf="expData_res_des">
  <h6 [ngStyle]="styling.sharedBerkStyle$ | async">
    <i class="fas fa-stream"></i> Resume Objective
  </h6>
  <div *ngFor="let emp of expService.experience">
    <p [innerHTML]="emp.res_des "></p>
  </div>
</div>
  <!-- edu -->
  <div *ngIf="expData_edu_degree">
    <h6 [ngStyle]="styling.sharedBerkStyle$ | async">
        <i class="fas fa-graduation-cap"></i> Education and Qualification
      </h6>
      <div
        style="
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
        "
      >
        <div style="width: 200px">
          <div *ngFor="let emp of expService.experience">
            <span style="font-size: xx-small;"
              >{{ emp.edu_startDate_month }}{{ emp.edu_startDate_year }} -
              {{ emp.edu_endDate_month }}{{ emp.edu_endDate_year }}</span
            >
          </div>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            width: 400px;
            font-size: x-small;
          "
        >
          <div *ngFor="let emp of expService.experience">
            <span style=" font-weight: bold;">{{ emp.edu_degree }}</span>
          </div>
          <div *ngFor="let emp of expService.experience">
            <span><i>{{ emp.edu_school }}, {{ emp.edu_city }}</i></span>
          </div>
        </div>
      </div>
  </div>
  <br>
  <!-- work -->
  <div *ngIf="expData_work_jobtitle">
    <h6 [ngStyle]="styling.sharedBerkStyle$ | async">
        <i class="fas fa-briefcase"></i> Work Experience
    </h6>
    <div
        style="
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
        "
      >
        <div style="width: 200px">
          <div *ngFor="let emp of expService.experience">
            <span style="font-size: xx-small;"
              >{{ emp.work_startDate_month }}{{ emp.work_startDate_year }} -
              {{ emp.work_endDate_month }}{{ emp.work_endDate_year }}</span
            >
          </div>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            width: 400px;
            font-size: x-small;
          "
        >
          <div *ngFor="let emp of expService.experience">
            <span style=" font-weight: bold;">{{ emp.work_jobtitle }}</span>
          </div>
          <div *ngFor="let emp of expService.experience">
            <span><i>{{ emp.work_employer }}, {{ emp.work_city }}</i></span>
          </div>
        </div>
      </div>
  </div>
  <br>
  <!-- interests -->
  <div *ngIf="expData_hobby">
    <h6 [ngStyle]="styling.sharedBerkStyle$ | async">
        <i class="fas fa-user"></i> Interests
    </h6>
    <div *ngFor="let emp of expService.experience">
        <span style=" font-weight: bold; font-size: x-small">{{ emp.hobby }}</span>
      </div>
  </div>
  <br>
  <!-- references -->
  <div *ngIf="expData_ref_companyName">
    <h6 [ngStyle]="styling.sharedBerkStyle$ | async">
        <i class="fas fa-file-alt"></i> References
    </h6>
    <div
        style="
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
        "
      >
        <div style="width: 200px">
          <div *ngFor="let emp of expService.experience">
            <span style="font-size: xx-small;"
              >{{ emp.ref_companyName }}</span
            >
          </div>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            width: 400px;
            font-size: x-small;
          "
        >
          <div *ngFor="let emp of expService.experience">
            <span style=" font-weight: bold;">{{ emp.ref_contactPerson }}</span>
          </div>
          <div *ngFor="let emp of expService.experience">
            <span>{{ emp.ref_phoneNo }}</span>
          </div>
          <div *ngFor="let emp of expService.experience">
            <span>{{ emp.ref_email }}</span>
          </div>
        </div>
      </div>
  </div>
  <br>
  <!-- skills -->
  <div *ngIf="expData_skill">
    <h6 [ngStyle]="styling.sharedBerkStyle$ | async">
        <i class="fas fa-code"></i> Skills
    </h6>
    <div *ngFor="let emp of expService.experience" style="display: flex; flex-direction: column;">
        <small style=" font-weight: bold; font-size: x-small">{{ emp.skill }}</small>
        <small style="font-size: x-small">{{ emp.skill_startDate }}</small>
      </div>
  </div>
  <br>
</div>
