<div class="experience-page-header">
    <strong>My experiences</strong>
  </div>
  <div style="display: flex; margin: auto; width: 35%; margin-top: 2rem; margin-bottom: 1rem;">
    <div style="display: flex;">
      <span style="margin-top: -5px;"><i class="fas fa-user-circle fa-3x" style="background-color: white; color: #1C73BA;"></i></span>
      <div class="progress" style="width: 10rem; margin-top: 10px; height: 10px;">
        <div class="progress-bar progress-bar" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="50" aria-valuemax="100"></div>
      </div>
    </div>
    <div style="display: flex;">
      <span><img style="width: 45px; height: 45px; margin-top: -8px;" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/write-circle-blue-512.png">
      </span>
      <div class="progress" style="width: 10rem; margin-top: 10px; height: 10px;">
        <div class="progress-bar progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="0" aria-valuemin="50" aria-valuemax="100"></div>
      </div>
      <span><img style="width: 45px; height: 45px; margin-top: -8px;" src="https://cdn1.iconfinder.com/data/icons/ui-5/502/file-512.png">
      </span>
    </div>
    
  </div>