.experience-page-header {
  text-align: center;
  font: 40px Open,sans-serif;
  margin-top: 4rem;
  padding: 0;
  color: white;
}

.progress-title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0 0 30px;
}

.progress{
  height: 17px;
  background: rgba(0,0,0,0.1);
  border-radius: 0px;
  margin-bottom: 30px;
  overflow: visible;
  position: relative;
}

.progress2 .progress-bar2 {
  /* border-radius: 15px; */
  box-shadow: none;
  position: relative;
  animation: animate-positive 2s;
  animation-delay: 0.5s;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}

.templatecards {
  margin-right: 2rem;
  margin-bottom: 2rem;
  height: 25rem;
  width: 16rem;
  /* border: 2px solid black; */
}
.templatecardsNew {
  margin-right: 2rem;
  margin-bottom: 2rem;
  height: 25rem;
  width: 20rem;
  border: 2px solid black;
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);

}
.card-header {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: white;
}
.nav-tabs{
  flex-direction: column;
  position: absolute;
  left: 35.3rem;
  background-color:white;
  padding: 1rem;
  width: 3rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 0rem;
  
}
.nextButton {
  height: 50px;
  width: 200px;
  background-color: #626CCC;
  border: #4287f5;
  border-radius: 4px;
  color: white;
  font-weight: 900;
  font-size: 16px;
}
.prevButton:hover {
  text-decoration: underline;
}
.template-modal-content {
  width: 35rem;
  height: 44rem;
  padding: 10px;
  position: absolute;

}

.scaled {
    zoom: 0.5; 
    -moz-transform: scale(3); 
    -moz-transform-origin: 0 0;

    /* transform: scale(0.4);
    transform-origin: 0 0;
    margin: auto; */
} 
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:active{
  background: red;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 3px;
  visibility: hidden;
}