<div>
  <div class="experience-page-header">
    <strong>Select template</strong>
  </div>
  <div
    style="
      display: flex;
      margin: auto;
      width: 35%;
      margin-top: 2rem;
      margin-bottom: 1rem;
    "
  >
    <div style="display: flex">
      <span style="margin-top: -5px"
        ><i
          class="fas fa-user-circle fa-3x"
          style="background-color: white; color: #1c73ba"
        ></i
      ></span>
      <div
        class="progress"
        style="width: 10rem; margin-top: 10px; height: 10px"
      >
        <div
          class="progress-bar progress-bar"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="0"
          aria-valuemin="50"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div style="display: flex">
      <div>
        <span
          ><img
            style="width: 45px; height: 45px; margin-top: -8px"
            src="https://cdn1.iconfinder.com/data/icons/ui-5/502/file-512.png"
          />
        </span>
      </div>

      <div
        class="progress progress2"
        style="width: 10rem; margin-top: 10px; height: 10px"
      >
        <div
          class="progress-bar progress-bar2"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="0"
          aria-valuemin="50"
          aria-valuemax="100"
        ></div>
      </div>
      <span
        ><img
          style="width: 45px; height: 45px; margin-top: -8px"
          src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/write-circle-blue-512.png"
        />
      </span>
    </div>
  </div>
</div>

<div style="margin: auto; width: 60%">
  <div style="display: flex">
    <div class="card templatecards">
      <div class="card-header">Ackuland</div>
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Edinburgh</div>
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Princeton</div>
      <div class="card-body">This is some text within a card body.</div>
    </div>
  </div>
  <!--  -->
  <div style="display: flex">
    <div class="card templatecards">
      <div class="card-header">Otago</div>
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Berkeley</div>
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Harvard</div>
      <div class="card-body">This is some text within a card body.</div>
    </div>
  </div>
  <!--  -->
  <div style="display: flex">
    <div class="card templatecards">
      <div class="card-header">Stanford</div>
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Cambridge</div>
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Oxford</div>
      <div class="card-body">This is some text within a card body.</div>
    </div>
  </div>
</div>

<!-- next step -->
<div style="margin: auto; width: 17%">
  <div>
    <a href="#">
      <button class="nextButton">
        <span
          ><i class="fas fa-arrow-alt-to-bottom"></i
          ><strong style="margin-left: 1rem">Download resume</strong></span
        >
      </button>
    </a>
    <div
      class="prevButton"
      style="margin-top: 1rem; margin-bottom: 4rem; margin-left: 2.5rem"
    >
      <a href="/experience" style="text-decoration: none; color: gray">
        <span
          ><i class="fas fa-chevron-left" style="margin-right: 1rem"></i
          >Previous step</span
        >
      </a>
    </div>
  </div>
</div>
