<div class="experience-page-header">
  <strong>Select template</strong>
</div>

<div>
 
  <div style="
      display: flex;
      margin: auto;
      width: 35%;
      margin-top: 2rem;
      margin-bottom: 1rem;
      justify-content: center;
    ">
    <div style="display: flex;">
      <a href='/info'><button class="exp-button"
        style="background-color: #6169cf; border-radius: 50%; border: none;position: relative;bottom: 0.5rem;margin-top: 5px;">
        <div class="progress-bar__icon"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
            viewBox="0 0 24 24" class="svg--Description" height="2.9em" width="2em" xmlns="http://www.w3.org/2000/svg"
            style="color: white">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
          </svg></div>
      </button></a>
      <div class="progress" style="width: 12rem; margin-top: 18px; height: 8px">
        <div class="progress-bar progress-bar" role="progressbar" style="width: 100%;background-color: #626ccc;border-radius: 15rem" aria-valuenow="0"
          aria-valuemin="50" aria-valuemax="100"></div>
      </div>
    </div>
    <div style="display: flex">
      <div>
        <span><a href='/experience'><button class="exp-button"
          style="background-color: #6169cf; border-radius: 50%; border: none;position: relative;bottom: 0.5rem;margin-top: 5px;">
          <div class="progress-bar__icon"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
              viewBox="0 0 24 24" class="svg--Description" height="2.9em" width="2em" xmlns="http://www.w3.org/2000/svg"
              style="color: white">
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z">
              </path>
            </svg></div>
        </button></a>
    </span>
      </div>

      <div class="progress progress2" style="width: 12rem; margin-top: 18px; height: 8px">
        <div class="progress-bar progress-bar2" role="progressbar" style="width: 100%;background-color: #626ccc;border-radius: 15rem" aria-valuenow="0"
          aria-valuemin="50" aria-valuemax="100"></div>
      </div>
      <span><img style="width: 45px; height: 45px; margin-top: -2px ; color: #6169cf;" 
          src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/write-circle-blue-512.png" />
      </span>
    </div>
  </div>
</div>

<div style="margin: 3rem auto; width: 60%">
  <div style="display: flex">
    <div class="card templatecards">
      <div class="card-header">Ackuland</div>
      <div class="card-body scaled" style="cursor: pointer;" data-toggle="modal" data-target="#ackulandModal">
        <app-ackuland></app-ackuland>
      </div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Edinburgh</div>
      <div class="card-body" style="cursor: pointer;" data-toggle="modal" data-target="#edinburghModal">
        <app-edinburgh></app-edinburgh>
      </div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Princeton</div>
      <div class="card-body" style="cursor: pointer;" data-toggle="modal" data-target="#princetonModal">
        <app-princeton></app-princeton>
      </div>
    </div>
  </div>
  <!--  -->
  <div style="display: flex">
    <div class="card templatecards">
      <div class="card-header">Otago</div>
      <div class="card-body" style="cursor: pointer;" data-toggle="modal" data-target="#otagoModal">
        <app-otago></app-otago>
      </div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Berkeley</div>
      <div class="card-body" style="cursor: pointer;" data-toggle="modal" data-target="#berkeleyModal">
        <app-berkeley></app-berkeley>
      </div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Harvard</div>
      <div class="card-body">neo 🔥 </div>
    </div>
  </div>
  <!--  -->
  <div style="display: flex">
    <div class="card templatecards">
      <div class="card-header">Stanford</div>
      <div class="card-body">neo 🔥 </div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Cambridge</div>
      <div class="card-body">neo 🔥 </div>
    </div>
    <div class="card templatecards">
      <div class="card-header">Oxford</div>
      <div class="card-body">neo 🔥 </div>
    </div>
  </div>
</div>

<!-- next step -->
<div style="margin: auto; width: 17%">
  <div>
    <a href="#">
      <button class="nextButton">
        <span><i class="fas fa-arrow-alt-to-bottom"></i><strong style="margin-left: 1rem">Download
            resume</strong></span>
      </button>
    </a>
    <div class="prevButton" style="margin-top: 1rem; margin-bottom: 4rem; margin-left: 2.5rem">
      <a href="/experience" style="text-decoration: none; color: gray">
        <span><i class="fas fa-chevron-left" style="margin-right: 1rem"></i>Previous step</span>
      </a>
    </div>
  </div>
</div>


<!-- modals -->
<div>
  <!-- ackuland -->
  <div class="modal fade" id="ackulandModal" tabindex="-1" role="dialog" aria-labelledby="ackulandModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content template-modal-content">
        <div class="modal-body">
          <app-ackuland></app-ackuland>
        </div>
        <div class="modal-footer">
          <small>Unfortunately, the preview does not entirely fit on your screen, so
            we are showing you an impression of your final resume.</small>
        </div>
        <div style="margin: auto; width: 38%">
          <div>
            <a href="/template">
              <button class="nextButton">
                <span>Select</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- edinburg -->
  <div class="modal fade" id="edinburghModal" tabindex="-1" role="dialog" aria-labelledby="edinburghModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content template-modal-content">
        <div class="modal-body">
          <app-edinburgh></app-edinburgh>
        </div>
        <div class="modal-footer">
          <small>Unfortunately, the preview does not entirely fit on your screen, so
            we are showing you an impression of your final resume.</small>
        </div>
        <div style="margin: auto; width: 38%">
          <div>
            <a href="/template">
              <button class="nextButton">
                <span>Select</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- princeton -->
  <div class="modal fade" id="princetonModal" tabindex="-1" role="dialog" aria-labelledby="princetonModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content template-modal-content">
        <div class="modal-body">
          <app-princeton></app-princeton>
        </div>
        <div class="modal-footer">
          <small>Unfortunately, the preview does not entirely fit on your screen, so
            we are showing you an impression of your final resume.</small>
        </div>
        <div style="margin: auto; width: 38%">
          <div>
            <a href="/template">
              <button class="nextButton">
                <span>Select</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- otago -->
  <div class="modal fade" id="otagoModal" tabindex="-1" role="dialog" aria-labelledby="otagoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content template-modal-content">
        <div class="modal-body">
          <app-otago></app-otago>
        </div>
        <div class="modal-footer">
          <small>Unfortunately, the preview does not entirely fit on your screen, so
            we are showing you an impression of your final resume.</small>
        </div>
        <div style="margin: auto; width: 38%">
          <div>
            <a href="/template">
              <button class="nextButton">
                <span>Select</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- berkeley -->
  <div class="modal fade" id="berkeleyModal" tabindex="-1" role="dialog" aria-labelledby="berkeleyModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content template-modal-content">
        <div class="modal-body">
          <app-berkeley></app-berkeley>
        </div>
        <div class="modal-footer">
          <small>Unfortunately, the preview does not entirely fit on your screen, so
            we are showing you an impression of your final resume.</small>
        </div>
        <div style="margin: auto; width: 38%">
          <div>
            <a href="/template">
              <button class="nextButton">
                <span>Select</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>