
<div class="container-fluid vertical-center">
    <div class="dblock ">
        <span>
            <i class="fas fa-crown fa-5x" style="color: gold;" ></i>
        </span>
        <div class="mb-5 pb-5 top-box">
            <h1 >Welcome to Cv maker </h1>
        </div>

        <div class="mt-5 pt-5 bottom-box">
            <button  class="btn btn-info buildr btn-lg"><a href="/info" >Build your Resume &nbsp; <i class="fas fa-chevron-right" style="color: white;"></i></a></button>

        </div>

    </div>
</div>

